.qcg-pop-over {
    ion-popover {
        --width: fit-content;
        
        ion-list {
            &.list-md {
                padding-top: unset;
                padding-bottom: unset;
            }
            
            ion-item {
                border-bottom: 1px solid rgb(159, 158, 158);
                --inner-border-width: 0;
                --padding-start: 0.5em;
                --inner-padding-end: 0.5em;
            }
        }
    }
}

.MuiPaper-root {
    .item {
        .MuiButton-root {
            width: -webkit-fill-available;
            height: 1.6em;
            margin: 0.2em;
            text-transform: none;    
        }
    }
}