.popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  box-shadow: 0 0 0.8em black;
  border-radius: 0.5em;
  padding: 2em;
  outline: unset;
  text-align: center;

  .content {
    .qcg-hand-card {
      margin: 1em 1em;
    }
  }

  .popup-actions,
  .popup-input,
  .popup-validation-message {
    margin-top: 1em;
  }

  .popup-actions {
    .cancel-action {
      color: darkred;
    }
  }

  .popup-validation-message {
    color: rgba(darkred, 0.6);
  }

  @media only screen and (max-width: 768px) and (min-height: 360px) {
    &.popup-wrapper {
      width: 95vw;
  
      .content {
        overflow-x: scroll;
  
        .qcg-hand-card {
          min-width: 10em;
        }
      }
    }
  }
}


