.qcg-navbar {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0%;
    width: 100%;
    height: 10em;

    img {
        width: 120px;
        max-width: unset;
    }

    ion-title {
        background-color:#b7094c;
        height: 8em;

        .nav-items-wrapper {

            .nav-item {
                margin: 1em;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
            }

            .nav-item:hover {
                color: black;
            }
        }

        .auth-details {
            .welcome-message {
                white-space: pre-line;
            }
        }

    }

    .floating-button {
        display: none;
    }

    ion-fab {
        top: 2.5em;

        ion-fab-button:first-of-type{
            --background : black;
        }
    }

    ion-label {
        white-space: initial;
        padding: 0.1em;
    }

    ion-fab-list {
        top: 0.5em;

        ion-fab-button {
            margin: 0.5em 0;
        }
    }

    ion-fab-button {
        width: 5em;
        height: 5em;
    }

    &.qcg-ltr {
        ion-fab {
            right: 1.5em;
        }
    }

    &.qcg-rtl {
        ion-fab {
            left: 1.5em;
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 769px) {
        ion-title {
            .nav-items-wrapper {
                .nav-item {
                    margin: 0.3em;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) and (min-height: 360px) {
        .nav-items-wrapper {
            display: none;
        }

        .auth-details {
            display: none;
        }

        .floating-button {
            display: block;
        }

        .home-wrapper {
            width: 90%;
        }
    }
}