.qcg-game-page {
    background: linear-gradient(to right,#1565C0,#b92b27);;
    height: 100vh;

    ion-fab {
        top: 1em;

        ion-fab-button:first-of-type{
            --background : black;
        }
    }

    ion-label {
        white-space: initial;
        padding: 0.1em;
    }

    ion-fab-list {
        top: 1em;

        ion-fab-button {
            margin: 0.5 0;
        }
    }

    ion-fab-button {
        width: 5em;
        height: 5em;
    }
}