.qcg-game-page {
    background: linear-gradient(to right,#1565C0,#b92b27);;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;

    ion-fab {
        top: 2.5em;

        ion-fab-button:first-of-type{
            --background : black;
        }
    }

    ion-label {
        white-space: initial;
        padding: 0.1em;
    }

    ion-fab-list {
        right: 1em;

        ion-fab-button {
            margin: 0 0.5em;
        }
    }

    ion-fab-button {
        width: 5em;
        height: 5em;
    }

    .game-content {

        .deck-on-table{
            cursor: pointer;
            width: 15vh;
            height: 20vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
        }

        .hand-cards {
            width: 90%;
            height: 45vh;
            -webkit-overflow-scrolling: auto;
            
            .cards-wrapper {
                align-items: center;
                padding: 0 3em;
                margin: 0 1em;
                -webkit-overflow-scrolling: auto;
                height: 100%;
                overflow-x: scroll;

                .card {
                    position: relative;
                    height: fit-content;
                    width: 10em;
                    margin: auto 0.5em;
                    transition: ease-in 0.3s;
                }
                
                .card:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }

    .game-players {
        border-radius: 0 2em 2em 0;
        box-shadow: 0 0 5em rgb(43, 42, 42);
    }

    @media only screen and (max-width: 768px) {
        .game-content {
            .hand-cards {
                .cards-wrapper {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}