.qcg-app {
  background-image: linear-gradient(0deg,rgba(46,111,149,1) 0%,rgba(69,94,137,0.9640231092436975) 26%,rgba(255,255,255,1) 50%);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.qcg-ltr {
  direction: ltr;
}

.qcg-rtl {
  direction: rtl;
}
